<div class="ui raised very padded text container segment">
    <h3>Review for {{restaurant.name}}, {{restaurant.location}} </h3>
    <p>posted by {{user.name}} on {{format_date date_created}}</p>
    <h4>{{title}}</h4>
    <div class="ui star rating" data-rating="{{rating}}" data-max-rating="5"></div>
    <p>{{review_content}}</p>
</div>


<div class="ui comments raised container segment">
    <h4 class="ui dividing header">Comments: </h4>
    {{> comment comments}}
</div>


<br>

<div class="row">
    <div class="column">
        {{#if logged_in}}
        <div class="ui raised very padded container" id="comment-section">
            <h4>Comment on this post: </h4>
            <form class="ui form new-comment-form">

                <div class="required">
                    <label>Comment: </label>
                    <textarea id="comment-body" name="comment-body" placeholder="Comment"></textarea>
                </div>
                <br>
                <button type="submit" class="ui button" id="add-comment-btn" data-id="{{id}}">Add Comment</button>
            </form>
        </div>
        {{/if}}
    </div>
</div>

<br>

<script src="/js/comment.js"></script>

<script src="/js/script.js"></script>